
/* Modificación a los componentes de Materialize */
h1, h2, h3, h4, h5, h6{
	margin-top: 0px !important;
}
/* -------------------------------------------- */

.btn-width100{
	width: 100% !important;
}

.invalid-select{
	border: 1px solid red;
}

.valid-select{
	border: 1px solid green;
}
